<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Reusable Form Demo</title>
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" type="text/css" />
        <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
        {{ script|safe }}
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="" method="post">
            {{ form.csrf }}
 
            <div class="input text">
                {{ form.main.label }} {{ form.main }}
			</div>
			<br/>
			<div class="input text">
				{{ form.sub.label }} {{ form.sub }}
			</div>
			<br/>
			<div class="input text">
				{{ form.camp_dur.label }} {{ form.camp_dur }}
			</div>
			<br/>
			<div class="input text">
				{{ form.launch_month.label }} {{ form.launch_month }}
			</div>
			<br/>
			<div class="input text">
				{{ form.goal.label }} {{ form.goal }}
			</div>
			<br/>
			<div class="input text">
				{{ form.pledges.label }} {{ form.pledges }}
            </div>
			<br/>
			<div class="input text">
				{{ form.description.label }} {{ form.description }}
			</div>
 
            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>
        </form>
        <div class='bokeh'>
        {{ div|safe }}
        </div>
    </body>
</html>